@import '@styles/var';
@import '@styles/extends';
@import '@styles/mixins';

$cls: '.c-btn';

#{$cls} {
  @extend %flex-center;
  border: 0;

  // &:hover {
  //   filter: brightness(1.1);
  // }
  &:active {
    filter: brightness(0.8);
  }
  #{$cls}__text {
    @include t(32px, 44px, $color-plain, center);
    width: auto;
  }
  &__icon {
    @extend #{$cls}__text;
    min-width: 32px;
    margin: 0 16px;

    &--left {
      margin-left: -(32px + 16px);
    }
    &--right {
      margin-right: -(32px + 16px);
    }
  }
  &--main {
    padding: 24px 0;
    color: $color-main;
    background: transparent;

    #{$cls}__text {
      color: $color-main;
    }
  }
  &--main-fill {
    padding: 24px 28px;
    background: $color-main;
    border-radius: 20px;

    #{$cls}__text {
      @include t(32px, 44px, #303133, center, bold);
    }
  }
  &--plain-fill {
    padding: 24px 28px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;

    #{$cls}__text {
      @include t(32px, 44px, #303133, center, bold);
    }
  }
}
