/*
 * @Author: czy0729
 * @Date: 2020-11-18 10:35:38
 * @Last Modified by: czy0729
 * @Last Modified time: 2020-11-18 10:37:00
 */
.c-img {
  vertical-align: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
