@import './var';

page {
  height: 100vh;
  background-color: #191919;
  background-image: linear-gradient(rgb(25, 25, 25), rgb(32, 32, 32));
}
text {
  display: block;
  font-family: PingFangSC-Regular, PingFang SC;
  color: $color-plain;
  // width: 100%;
  // color: #fff;

  text {
    display: inline-block;
  }
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

// reset taro-ui
.at-modal {
  &__container {
    background: rgba(64, 65, 67, 0.9);
    border-radius: 32px;
  }
  &__content {
    min-height: 0;
    padding: 32px 42px 48px;

    .c-ipt {
      background: $color-plain;
      border-radius: 12px;
    }
  }
  &__footer {
    &::before {
      border-top: 1px solid rgba(216, 216, 216, 0.2);
    }
    .at-modal__action > button {
      &:active {
        background-color: rgba(64, 65, 67, 0.4);
      }
    }
  }
}
