@import './mixins';

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-x {
  display: flex;
  justify-content: center;
}
.flex-center-y {
  display: flex;
  align-items: center;
}
.flex-end-x {
  display: flex;
  justify-content: flex-end;
}
.flex-end-y {
  display: flex;
  align-items: flex-end;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-column-center-y {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-1 {
  flex: 1;
}

.t-24 {
  font-size: 24px !important;
}
.t-26 {
  font-size: 26px !important;
}
.t-30 {
  font-size: 30px !important;
}
.t-34 {
  font-size: 34px !important;
}

.l-32 {
  line-height: 32px !important;
}
.l-44 {
  line-height: 44px !important;
}

.t-main {
  color: $color-main !important;
}
.t-sub {
  color: $color-sub !important;
}

.t-c {
  text-align: center !important;
}
.t-b {
  font-weight: 500 !important;
}

.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-28 {
  margin-top: 28px;
}
.mt-36 {
  margin-top: 36px;
}
.mt-40 {
  margin-top: 40px;
}

.ml-12 {
  margin-left: 12px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-40 {
  margin-left: 40px;
}

.o-80 {
  opacity: 0.8;
}
