/*
 * @Author: czy0729
 * @Date: 2020-11-18 14:32:12
 * @Last Modified by: czy0729
 * @Last Modified time: 2020-11-20 11:48:24
 */
$color-plain: #fff;
$color-main: rgba(255, 198, 0, 1);
$color-sub: rgba(245, 242, 235, 0.5);
$color-bg: rgb(44, 44, 44);

$height-tab-bar: 176px;

.ios {
  --nav-bar: 44PX;

  &--under-x {
    --nav-bar: 20PX;
  }
}
.android {
  --nav-bar: 24PX;
}
