/*
 * @Author: czy0729
 * @Date: 2020-11-18 14:32:12
 * @Last Modified by: czy0729
 * @Last Modified time: 2020-11-18 14:54:41
 */
$color-plain: #fff;
$color-sub: rgba(245, 242, 235, 0.5);
$color-bg: rgb(44, 44, 44);
