@import '@styles/var';
@import '@styles/extends';
@import '@styles/mixins';

.page {
  padding: 48px - 32px 40px 48px;

  .item {
    @extend %flex-center;
    height: 112px;
    padding: 0 40px;
    margin-top: 32px;
    background: $color-bg;
    box-shadow: 0px -5px 44px 0px rgba(255, 255, 255, 0.02);
    border-radius: 20px;

    text {
      @include t(32px, 48px);
      width: auto;

      &:nth-of-type(1) {
        flex: 1;
      }
      &:nth-of-type(2) {
        color: $color-sub;
      }
    }
  }
}
