@import '@styles/var';
@import '@styles/extends';
@import '@styles/mixins';

.c-ipt {
  position: relative;
  width: 100%;

  &--focus {
    padding-right: 64px;
  }
  &--right {
    text-align: right;
  }
  &__input {
    padding: 0 24px;
    height: 72px;
    @include t(28px, 40px, $color-desc);
    caret-color: $color-desc;
    overflow: visible;

    &--placeholder {
      height: 72px;
      padding: 0;
      @include t(28px, 40px, $color-placeholder);
    }
  }
}
.close {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  width: 72px;
  height: 72px;
  margin-right: -16px;
  transform: translateY(-50%);
}
